DATABASE_URL="postgresql://postgres:password@localhost:5432/uniz_files?schema=public"
JWT_SECURITY_KEY="local-dev-key-123456"
REDIS_URL="redis://localhost:6379"
EMAIL_USER="noreply@gmail.com"
EMAIL_PASS="password"
