DATABASE_URL="postgresql://postgres:password@localhost:5432/uniz_notifications?schema=public"
INTERNAL_SECRET="uniz-core"
MAIL_SERVICE_URL="http://localhost:3006"
VAPID_PUBLIC_KEY="BBUDnL9QZfs1W_wmn1kCW7U81ISk0isqNro00JEIamFsQaMGqC3AO8nnK32jY94o3zCg0Thuz-Le1o3mH3Z8Thc"
VAPID_PRIVATE_KEY="oWMk2dkJanNgjqhOAmcJ9cf4dLFaFQSmsvPyD1AlMzw"
EMAIL_USER="noreply@gmail.com"
EMAIL_PASS="password"
