JWT_SECURITY_KEY="local-dev-key-123456"
DATABASE_URL="postgresql://postgres:password@localhost:5432/uniz_auth?schema=public"
REDIS_URL="redis://localhost:6379"
INTERNAL_SECRET="uniz-core"
USER_SERVICE_URL="http://localhost:3002"
GATEWAY_URL="http://localhost:3000"
EMAIL_USER="noreply@gmail.com"
EMAIL_PASS="password"
TURNSTILE_SECRET_KEY="0x4AAAAAACnuFekEUpVCyieVWmdzFvQ9xwE"
