CLOUDINARY_CLOUD_NAME="dgp5srab5"
CLOUDINARY_UPLOAD_PRESET="uniz_upload"
DATABASE_URL="postgresql://postgres:password@localhost:5432/uniz_user?schema=public"
JWT_SECURITY_KEY="local-dev-key-123456"
INTERNAL_SECRET="uniz-core"
REDIS_URL="redis://localhost:6379"
INTERNAL_BOT_SECRET="bot-secret-123"
